# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
./src/assets/sh
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.env
.env
.vercel
empaquetar_contexto.sh
empaquetar.sh

codigo_frontend_ia.txt
mejorar_frontend.sh
.env*.local
.bak_optimizer_20260510_014011